{% extends 'base.html' %}

{% block title %} FileMag! {% endblock %}

{% block search %}
<div class="nav">
    <input placeholder="🔎 search..." class="search-input" name="search-file"/>
</div>
{% endblock %}}

{% block content %}
<div class="contents">

    {% for dirr in dirs %}
        <div class="dirr file"> 
            <div class="dir-logo"><img src="../static/img/directory.png" alt="directory logo"/></div>
            <div class="dir-name">{{dirr}}</div> 
        </div>
    {% endfor %}

    {% for file in files %}
        <div class="file"> {{file}} </div>
    {% endfor %}

</div>
{% endblock %}