{% extends 'base.html' %}

{% block title %} Add file {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/delete.css">
{% endblock %}

{% block content %}
<div class="contentss">
    <img src="/static/img/happy.png" alt="happy face" class="face" height="175" width="175" />
    <form>
        <legend>What do you want to add?</legend>
        <br/>
            <div>
                <input type="radio" id="check-file"
                name="ftype" value="file" onclick="radioChange(this)" checked>
                <label for="check-file">File</label>
      
                <input type="radio" id="check-directory"
                name="ftype" value="directory" onclick="radioChange(this)">
                <label for="check-directory">Directory</label>
            </div>
    </form>

    <label for="addfile" class="addfile">
        <span class="adding"> Add file </span>
        <input type="file" id="addfile" style="display: none;">
    </label>

    <label>
        <input type="text" class="adddir" placeholder="Name of directory to create" name="adddir">
    </label>

    <br/>
    <p class="question">Are you sure?</p>

    <div class="decision">
        <div class="hand">
            <a href="/dir/FILES">
                <img src="/static/img/like.png" alt="confirm" height="70" width="70" />
            </a>
        </div>
        <div class="hand">
            <a href="/dir/FILES">
                <img src="/static/img/dislike.png" alt="cancel" height="70" width="70" />
            </a>
        </div>
    </div>
    
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/js/fileDisable.js"></script>


</script>     
{% endblock %}