{% extends 'base.html' %}

{% block title %} Add file {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/delete.css">
{% endblock %}

{% block content %}
<div class="contentss">
    <img src="/static/img/happy.png" alt="happy face" class="face" height="150" width="150" />
    <form action="/upload/{{path}}" method="POST" enctype = "multipart/form-data">
        <legend>What do you want to add?</legend>
        <br/>
        <div>
            <input type="radio" id="check-file"
            name="ftype" value="file" onclick="radioChange(this)" checked>
            <label for="check-file">File</label>
      
            <input type="radio" id="check-directory"
                name="ftype" value="directory" onclick="radioChange(this)">
            <label for="check-directory">Directory</label>
        </div>

        <label for="ffile" class="addfile">
            <span class="adding"> Add file </span>
            <input type="file" name="ffile" id="ffile" style="display: none;">
        </label>

        <label>
            <input type="text" class="adddir" placeholder="Name of directory to create" name="adddir">
        </label>

        <br/>
        <p class="question">Are you sure?</p>

        <label for="submit" class="addfilebut">
            <img src="/static/img/like.png" alt="confirm" height="70" width="70" style="cursor: pointer;"/>
            <input type="submit" id="submit" name="submit" style="display: none;">
        </label>
        <div class="hand">
            <img src="/static/img/like.png" alt="confirm" height="70" width="70" onclick="addstuff()" style="cursor: pointer;"/>
        </div>
    </form>
    
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/js/fileDisable.js"></script>
<script type="text/javascript" src="/static/js/addStuff.js"></script>

</script>     
{% endblock %}