<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="files, filemag, manager, filemanager"/>
        <meta name="theme-color" content="#404040"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>
        <meta name="description" content="progressive webapp to be to manage files"/>
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="icon" href="/static/img/wand2cp.png" type="image/icon type">

        <!-- iOS -->
        <link rel="apple-touch-icon"                       href="{{ url_for('static', filename='img/wand2cp.png') }}">
        <meta name="apple-mobile-web-app-capable"          content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection"                      content="telephone=no">

        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        {% block stylesheets %}
        {% endblock %}

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <a href="/">
                    <div class="logo-wand"><img src="/static/img/wand2.png" alt="logo" height="40" width="40"/></div>
                    <h1 class="logo-name">FileMag!</h1>
                </a>
                <div class="files-dots" onclick="openNav()"><img src="/static/img/dots1.png" alt="options" height="40" width="40"/></div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="search-container">
            {% block search %}
            {% endblock %}
        </div>

        <div id="mySidenav" class="sidenav">
            {% block sidenav %}
            {% endblock %}
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="corgi" onclick="corgiClick()"><img src="/static/img/corgi.png" alt="corgi" height="90" width="60"></a>
        </div>
          
        
        {% block content %}
        {% endblock %}
        

        <button href="#" id="installButton" hidden>Install!</button>

        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/static/service-worker.js').then(function(registration) {
                    console.log('Service worker registered successfully', registration.scope);
                }).catch(function(err) {
                    console.log('Service worker registration failed: ', err);
                });
            };
        </script>
    </body>

    <script type="text/javascript" src="/static/js/openSideNav.js"></script>
    <script type="text/javascript" src="/static/js/corgi.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/install.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</html>