{% extends 'base.html' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/delete.css">
{% endblock %}

{% block title %} FileMag! | Delete {{type.lower()}} {% endblock %}


{% block content %}
<div class="contents">
    <img src="/static/img/sadface.png" alt="sad face" class="sadface"/>
    <h1>{{type}} to delete:</h1>
    <h2>{{name}}</h2>

    <br/>
    Are you sure?
    <div class="decision">
        <div class="delete-confirm">
            <a href="#">
                <img src="/static/img/like.png" alt="confirm" class="sadface"/>
            </a>
        </div>
        <div class="delete-cancel">
            <a href="/">
                <img src="/static/img/dislike.png" alt="cancel" class="sadface"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
 
<script>
    const setContentsSizes = () => {
    const windowHeight = window.innerHeight;
    const headerHeight = document.querySelector(".header").offsetHeight;

    const newHeight = (windowHeight-headerHeight) + "px";

    document.querySelector(".contents").style.height = newHeight;    

};

window.addEventListener("resize", () => {
    setContentsSizes();
});

setContentsSizes();
</script>     
{% endblock %}