{% extends 'base.html' %}

{% block title %} FileMag! {% endblock %}

{% block search %}
<div class="nav">
    <input placeholder="🔎 search..." class="search-input" name="search-file"/>
</div>
{% endblock %}}

{% block sidenav %}
<a href="#"><img src="/static/img/plus.png" alt="add file"></a>
{% endblock %}

{% block content %}
<div class="contents">

    {% for dirr in dirs %}
        <div class="dirr file"> 
            <div class="dir-logo"><img src="/static/img/directory.png" alt="directory logo"/></div>
            <a href="/dir/{{path}}/{{dirr}}" class="dir-navigating">
                <div class="dir-name">{{dirr}}</div> 
            </a>
            <div class="file-delete">
                <a href="/delete/dir/{{path}}/{{dirr}}">
                    <img src="/static/img/trash.png" alt="delete directory" />
                </a>
            </div>
        </div>
    {% endfor %}

    {% for file in files %}
        <div class="file"> 
            <div class="file-logo"><img src="/static/img/file.png" alt="file logo"/></div>
            <div class="file-name">{{file}}</div> 
            <div class="file-delete">
                <a href="/delete/file/{{path}}/{{file}}">
                    <img src="/static/img/trash.png" alt="delete file" />
                </a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/fadingSearch.js"></script>
<script type="text/javascript" src="/static/js/contentsHeight.js"></script>        
{% endblock %}